RewriteEngine  on


# Vocabulary/Namespaece
RewriteBase     /
RewriteRule     ^context.jsonld$ http://shexSpec.github.io/context.jsonld [P]

RewriteBase    "/ns/"
RewriteRule    "^ns/(.*)$"  "http://shexspec.github.io/ns/$1"  [P]

RewriteBase    "/extensions/"
RewriteRule    "^extensions/(.*)$"  "http://shexspec.github.io/extensions/$1"  [P]

RewriteBase    "/primer/"
RewriteRule    "^primer/(.*)$"  "http://shexspec.github.io/primer/$1"  [P]

RewriteBase    "/spec/"
RewriteRule    "^spec/(.*)$"  "http://shexspec.github.io/spec/$1"  [P]

# # ProxyPassReverse / http://shexspec.github.io

