RewriteEngine  on

# Pass content through from referenced location
RewriteBase     /
# Redirect to canonical locations
RewriteRule    ^ns$                  http://www.w3.org/ns/shex [R=301,L]
RewriteRule    ^ns/$                 http://www.w3.org/ns/shex [R=301,L]
RewriteRule    ^ns/index(\.html)?$   http://www.w3.org/ns/shex.html [R=301,L]

# Context passed through
RewriteRule    ^context.jsonld$   http://www.w3.org/ns/shex.jsonld [P,L]

RewriteRule    ^extensions/(.*)$  http://shexspec.github.io/extensions/$1  [P,L]

RewriteRule    ^primer$           shex-primer/ [R=301,L]
RewriteRule    ^primer/$          shex-primer/ [R=301,L]
RewriteRule    ^primer/(.*)$      shex-primer/$1  [P,L]

RewriteRule    ^spec$             shex-semantics/ [R=301,L]
RewriteRule    ^spec/$            shex-semantics/ [R=301,L]
RewriteRule    ^spec/(.*)$        shex-semantics/$1  [P,L]

# # ProxyPassReverse / http://shexspec.github.io

